@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br />
<h1 class="display-4 text-center">Bienvenidos al Examen #1 </h1>
<h2 class="display-5 text-center">Programacion 6 (ASP.NET)</h2>
<hr />
<br />
<p class="text-muted text-md-center">El objectivo de este examen es poner en practica todos los conceptos aprendidos durante la semana 1 hasta la semana 6.</p>

<br />
<div class="text-center">
    <img src="~/Assets/img/utc.png" alt="Nombre de la universidad (UTC)" />
</div>
